html{
    background-color: rgb(255, 255, 0);
}
body{
    background-color: rgb(143, 226, 139);
}
.a{
    padding: 10px;
}
h1, h3{
    text-align: center;
    margin-left: 20px;
    margin-top: 100px;
    font-size: 50px;
}
.c{
    display: flex;
    justify-content: center;
}
header{
    background-color: rgb(214, 135, 135);
}
p{
   font-size: 18px; 
}
table{
    border: 3px solid black;
}
td{
    border: 3px solid black;
}
.d{
    background-color: rgb(240, 183, 77);
    margin-left: 10px;
    margin-right: 900px;
    margin-bottom: 10px;
}
.b, table, .p{
    margin-left: 10px;
}
h2{
    text-align: center;
}
.ghj, ul{
    color: white;
}


table{
    background-color: rgb(235, 235, 118);
    margin-top: 10px;
}
a{
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    margin: 130px;
    background-color: rgb(43, 32, 255);
    text-align: center;
    margin-left: 150px;
    margin-left: 60px;
    font-size: 30px;
}
footer{
    background-color: rgba(22, 115, 255, 0.934);
}
.e{
    display: flex;
    justify-content: center;
    text-align: center;
}svg{
    font-size: 30px;
}
nav a{
    position:absolute;
    right: -200px;
    transition: 0.2s;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0 0 5px;
}
nav a:hover{
    right:-0%;
}
.fact{
    top: 10x;
    background-color: #4CAF50;
    position: fixed;
}
.eat{
    top: 105px;
    background-color: #2196F3;
    position: fixed;
}
.cat{
    top: 175px;
    background-color: #f44336;
    position: fixed;
}
